.databaseList .dbNameListArea {
  padding: 5px;
}

.databaseList .docInfoListArea {
  padding: 5px;
  margin: 10px 0;
}
.databaseList .docInfoListArea {
  /*border: 2px solid gray;*/
  padding: 10px 20px;
  /*background-color: white;*/
}
.databaseList .docInfoListArea .noResults {
  font-style: italic;
  color: lightgray;
}

.databaseList .docDetailArea table {
  margin-left: auto;
  margin-right: auto;
  /*border: 4px solid gray;*/
  padding: 20px 50px;
  background-color: white;
}
.databaseList .docDetailArea table label {
  margin: 0 15px 0 0;
} 
.databaseList .docDetailArea .actionButtons {
  padding: 10px 0 0;
}