.databaseList .dbNameListArea {
  padding: 5px;
}

.databaseList .docInfoListArea {
  padding: 5px;
  margin: 10px 0;
}
.databaseList .docInfoListArea table {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid gray;
  padding: 10px 20px;
  background-color: white;
}
.databaseList .docInfoListArea .noResults {
  font-style: italic;
  color: lightgray;
}

.databaseList .docDetailArea table {
  margin-left: auto;
  margin-right: auto;
  border: 4px solid gray;
  padding: 20px;
  background-color: white;
}
.databaseList .docDetailArea table .labelField {
  text-align: right;
}
.databaseList .docDetailArea table label {
  margin: 0 15px 0 0;
} 