.databaseList .dbNameListArea {
  padding: 5px;
}
.databaseList .docInfoListArea {
  padding: 5px;
  margin: 10px 0;
}
.databaseList .docInfoListArea table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  padding: 20px;
}
.databaseList .docInfoListArea .noResults {
  font-style: italic;
  color: gray;
}